body {
  margin:0;
}

h1 {
  font-style: normal;
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 5em;
}

h2 {
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-style :normal;
  font-weight: 50;
  font-size: 3em;
  tex
}

h3 {
  font-style: normal;
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  color:#FAFAFF;
}

#top-nav {
  display:inline-block;
  width:100%;
  position:relative;
  background-color: #424242;
  border:0;
  padding-bottom:20px;
  margin:0;
}

#logo {
  float: left;
  width:17.5%;
  margin-top:10px;
  margin-left:25px;
}

#logo img {
	width:100%;
	height:auto;
}

ul {
  list-style: none;
  padding-right:25px;
  padding-top:15px;
}

li {
  float:right;
  margin: 10px;
  font-size:1.15em;
}

a {
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-style: normal;
  text-decoration: none;
  color:#FAFAFF;
}

a:hover {
  color:#51D674;
}

#main-box {
  position:relative;
  display:inline-block;
  width:100%;
  padding-bottom:220px;
  background-color: #FAFAFF;
  background-image:url("./hands.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
}

#main-box h1 {
  padding-top:30px;
  padding-left:50px;
  line-height:0.5em;
}

#main-box h2 {
  padding-left:50px;
  line-height:0.5em;
  font-size:2.7em;
}

#our-mission {
  display:inline-block;
  width:100%;
  background-color: #424242;
  color:#FAFAFF;
  text-align: center;
  padding-top:30px;
  padding-bottom:90px;
}

.mission-statement {
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-size:1.5em;
  width:80%;
  margin:0 auto;
}

#testimonials {
  display:inline-block;
  width:99.25%;
  background-color: #FAFAFF;
  text-align: center;
  padding-top:30px;
  padding-bottom:90px;
  margin-left:0.75%;
}

.block {
  background-color: #424242;
  width:23%;
  float:left;
  padding:2.5%;
  margin:0 2.5% 0 2.5%;
  display:flex;
}

.testimonials {
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-size:1.2em;
  text-align:left;
  color:#FAFAFF;
}

#exchange-your-life {
  display:inline-block;
  width:100%;
  background-color: #424242;
  color:#FAFAFF;
  text-align: center;
  padding-top:30px;
  padding-bottom:90px;
}

.button {
	width:20%;
	display:inline-block;
	margin:0 auto;
	background-color:#FAFAFF;
	color:#424242;
	padding:20px;
	font-family: "Work Sans", "Work Sans", sans-serif;
}

.button:hover {
	background-color:#62A87C;
}

h1.main-header {
	font-size:2em;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */  
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	font-family: "Work Sans", "Work Sans", sans-serif;
}

#contact {
	float:left;
	color:#555;
	margin:0;
	padding:1.5% 5%;
	width:70vw;
}

#contact h1 {
	font-size:2.5em;
	padding-top:3.5vw;
}

#contact p {
	font-size:1.25rem;
	font-weight:100;
	line-height: 1.25em;
}

.required {
	color:#ff0000;
}