body {
  margin:0;
}

h1 {
  font-style: normal;
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 5em;
}

h2 {
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-style :normal;
  font-weight: 50;
  font-size: 3em;
  tex
}

h3 {
  font-style: normal;
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  color:#FAFAFF;
}

#top-nav {
  display:inline-block;
  width:100%;
  position:relative;
  background-color: #424242;
  height:100px;
  border:0;
  padding:0;
  margin:0;
}

#logo {
  float: left;
  margin-top:10px;
  margin-left:25px;
}

ul {
  list-style: none;
  padding-right:25px;
  padding-top:15px;
}

li {
  float:right;
  margin: 10px;
  font-size:1.15em;
}

a {
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-style: normal;
  text-decoration: none;
  color:#FAFAFF;
}

a:hover {
  color:#51D674;
}

#main-box {
  position:relative;
  display:inline-block;
  width:100%;
  padding-bottom:200px;
  background-color: #FAFAFF;
}

#main-box h1 {
  padding-top:50px;
  padding-left:50px;
  line-height:0.5em;
}

#main-box h2 {
  padding-left:50px;
  line-height:0.5em;
  font-size:2.7em;
}

#our-mission {
  display:inline-block;
  width:100%;
  background-color: #424242;
  color:#FAFAFF;
  text-align: center;
  padding-top:30px;
  padding-bottom:90px;
}

.mission-statement {
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-size:1.5em;
  width:80%;
  margin:0 auto;
}

#testimonials {
  display:inline-block;
  width:100%;
  background-color: #FAFAFF;
  text-align: center;
  padding-top:30px;
  padding-bottom:90px;
}

.testimonials {
  font-family: "Work Sans", "Work Sans", sans-serif;
  font-size:1.2em;
  width:27%;
  float:left;
  text-align:left;
  padding-left:5%;
  display:flex;
}

#exchange-your-life {
  display:inline-block;
  width:100%;
  background-color: #424242;
  color:#FAFAFF;
  text-align: center;
  padding-top:30px;
  padding-bottom:90px;

}
